<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test -->
      <package
            uri="ftp://testModel"
            class="testModel.TestModelPackage"
            genModel="model/test.genmodel"/>
   </extension>

</plugin>
